---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('March 08 2026')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Originally from Wisconsin, I spent most of my schooling in Wauwatosa with the Tosa West Band. I joined the world's greatest 
		Air Force on August 1st, 2017.
	</p>

	<p>
		I went to USAF technical school at Sheppard Air Force Base in Texas for 6 months to learn Avionics Fundamentals and technical
		knowledge for my Air Force Specialty Code "2A031P" and was assigned to Misawa Air Base, Japan.
	</p>

	<p>
		I lived in Japan for a total of 2 years and 4 months where I became an expert in the operation and maintenance of 54 AN/ALQ-184 
		Electronic Attack pods. I shipped equipment off to Alaska for maintenance and assisting in Exercise RED FLAG as well as ensuring 
		our home base equipment were all Fully Mission Capable and we were tested in COMBAT SHIELD inspections. It was here where I learned
		and lived through multiple joint Combat Exercises with the JASDAF units, being inspected on our Ability To Survive & Operate (also
		known as ATSO rodeos). While there I would lead a team to reconfigure and reprogram the entire F-16 fleet to enable EW capabilities
		and protect the pilots, ensuring their safe return home. Japan was my first culture shock and my first experience in a country 
		outside of the United States. I was then assigned to Eglin AFB, Florida.
	</p>

	<p>
		Misawa AB was where I learned and lived through joint Combat Exercises and reprogramming of our Electronic Counter-Measures pods, 
		Eglin AFB is where I learned the process of Mission Data and EWIR. I assisted in the testing and development of AN/ALQ-131, 
		AN/ALQ-184 and AN/ALQ-256 Electronic Warfare Pods. While there the 350th Spectrum Warfare Wing was established and continued the
		development of Electronic Warfare. Using my experience at misawa I assisted the Fighter Wing with the planning and execution of 
		exercises as a Wing Inspection Team member.	I would then be assigned to Kunsan AB, Republic of Korea with a follow on assignment 
		to Aviano, Italy.
	</p>

	<p>
		Kunsan AB was a return to form as I now led the operation and maintenance of our fleet's AN/ALQ-184 pods as the production supervisor.
		Kunsan's Military culture and heritage were like no other. The familiarity of Combat Exercises with the culture brought to the base
		reenforced bonds that will last a life time. My one short year there would contain some of the best times had before moving to my 
		next base Aviano AB, Italy.
	</p>

	<p>
		Aviano AB was the final stop of my Air Force Career. I had decided that my journey in the Air Force was done and the experience I had 
		gained were invaluable. I led and organized many events like Combat Shield, Exercise Preparation and Combat Deployments to directly
		support Operation Epic Fury.
	</p>
</Layout>
